<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huawei.mapper.UserMapper">
    <select id="findAll" parameterType="com.huawei.po.User" resultType="com.huawei.po.User">
        select * from user
        where 1=1
            and (1=2
        <if test="username != null">
            or username = #{username}
        </if>
        <if test="password != null">
            or password = #{password}
        </if>
        )
    </select>

    <select id="findById" parameterType="java.lang.Integer" resultType="com.huawei.po.User">
        select * from user where id = #{id}
    </select>
    <select id="login" resultType="com.huawei.po.User" parameterType="com.huawei.po.User">
        select * from user where username = #{username} and password = #{password};
    </select>
    <select id="queryUserInfo" resultType="com.huawei.po.User" parameterType="java.lang.String">
        select * from user
        where 1=1
              and username = #{user.username};
    </select>

</mapper>
